{% extends "doctorhome.html" %} 
{% block content %}
<style>

</style>

{% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <h2 style="color:red">{{message}}</h2>
                        {% endfor %}
                        {% endif %}
                    {% endwith %}

<div class="container mt-5">
    <table class="table table-striped bg-warning">
        <tr>
            <th>Question</th>
            <th>Answer</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
{% for qa in qanda %}
        <tr>
        <form method="post">
            <td>{{qa['Question']}}</td>
            <td><input type ="text"  name="ans" class="form-control" value="{{qa['Answer']}}"></td>
            <td>{{qa['Date']}}</td>
            <td><button name="submit" type="submit" class="btn btn-warning" value="{{qa['id']}}">Submit</button></td>
        </form>
        </tr>

{% endfor %}

    </table>
</div>

{% endblock %}
 